---
// component imports
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout title='My Blog' description='My musings about the Astro framework'>
	<p>Hi from Homepage</p>
</MainLayout>
