---
// component imports
import MainLayout from '../layouts/MainLayout.astro';
import Link from '../components/Link.astro';
import PostCard from '../components/PostCard.astro';

// util imports
import { formatBlogPosts } from '../js/utils';
const allPosts = await Astro.glob('./blog/*.md');
const formatedPosts = formatBlogPosts(allPosts, { limit: 3 });
---

<MainLayout title='My Blog' description='My musings about the Astro framework'>
	<section class='container about' aria-label='Aboue Me'>
		<img src='/images/headshot.jpg' alt='My headshot' width='200' height='330' />
		<div class='content'>
			<h1 class='h1'>My Blog</h1>
			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam debitis architecto, sunt facilis tempore
				aspernatur saepe error magni recusandae nostrum eaque perferendis? Incidunt assumenda et accusamus quas debitis
				possimus, sunt in officia tenetur aperiam hic recusandae sit aspernatur, non eius.
			</p>
		</div>
		<Link href='/about/' style='secondary' text='👋 About Me' />
	</section>
	<section class='container' aria-label='New Blog Posts'>
		<h2 class='h1'>New Blog Posts</h2>
		<div class='post-container'>
			{formatedPosts.map((post: any) => <PostCard frontmatter={post.frontmatter} url={post.url} tagType='h3' />)}
		</div>
	</section>
</MainLayout>
